{% load static %}
    <!--Jquery min js-->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--Bootstrap bundle min js-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!--Magnific Popup js-->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!--Owl Carousel min js-->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!--nice select min js-->
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <!--Wow min js-->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!--jquery ui min-->
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <!--Api min js-->
    <script src="{% static 'js/api.js' %}"></script>
    <!--Main js-->
    <script src="{% static 'js/main.js' %}"></script>